# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/

# Jupyter
.ipynb_checkpoints

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# MLflow
mlflow/mlruns/

# IDE
.vscode/
.idea/

# Logs
*.log
logs/
